<div id="<%= dom_id author %>">
    <p>
        <strong>Name:</strong>
        <%= author.name %>
    </p>

    <p>
        <strong>Access:</strong>
        <%= author.access %>
    </p>

    <p>
        <strong>Passcode:</strong>
        <%= author.passcode %>
    </p>

    <p>
        <%= link_to "Show this author", author %>
    </p>

</div>
