<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag :modal do %>
    <%= render @post %>
<% end %>
<div>

    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post", @post, method: :delete %>
</div>
